body {
    background: #f6f8fc;
}

.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    width: 420px;
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .08);
}

.auth-card h1 {
    margin-bottom: 10px;
}

.auth-card p {
    margin-bottom: 30px;
}

.auth-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1f2937;
}

.auth-subtitle {
    color: #6b7280;
    margin-bottom: 30px;
}

.auth-card input {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    font-size: 15px;
}

.auth-card input:focus {
    outline: none;
    border-color: #4f46e5;
}

.auth-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #4f46e5;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
    margin-bottom: 10px;
}

.auth-btn:hover {
    background: #4338ca;
}

.auth-link {
    margin-top: 20px;
    text-align: center;
    color: #6b7280;
}

.auth-link span {
    color: #4f46e5;
    cursor: pointer;
    font-weight: 600;
}